<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301] #This creates a redirect loop for angular

    # IF the resource does not exist as an actual directory...
    RewriteCond %{REQUEST_FILENAME} !-d
    # OR an actual file...
    RewriteCond %{REQUEST_FILENAME} !-f
    # AND is being requested from angular directory a/
    # THEN send it to the angular routing file
    RewriteRule ^(a/.*) /a/index.html [NC,L]

    # IF the resource does not exist as an actual directory...
    RewriteCond %{REQUEST_FILENAME} !-d
    # OR an actual file...
    RewriteCond %{REQUEST_FILENAME} !-f
    # THEN send the traffic to laravel routing
    RewriteRule ^ index.php [L]

</IfModule>
